@tailwind base;
@tailwind components;
@tailwind utilities;


.parts>li:before { content: '🔧'; margin-left: -20px; margin-right: 10px; } 


.navbar>li {
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Mulish';
  }
  
  .navbar>li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar>li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .navbar>li:focus:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .accordion {
    font-size: 17px;
    margin: 0 20px;
    padding: 64px;
  }
  
  .accordion__button {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
  }
  
  .accordion__button span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    font-size: 15px;
  }
  
  .accordion__button:focus {
    outline: none;
  }
  
  .accordion__content {
    padding: 0 20px;
    opacity: 0;
    transition: all .5s;
    height: 0;
    margin: 0;
    margin-top: -10px;
    border: 1px solid #f1f1f1;
    border-top: 0;
  }
  
  .accordion__content.active {
      height: auto;
      opacity: 1;
      padding: 20px;
  }

  .marquee {
    width: 100%; /* Width of marquee "window" must match the width of p elements*/
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    
    background: rgb(237,163,9);
background: linear-gradient(90deg, rgba(237,163,9,1) 0%, rgba(255,193,55,1) 46%, rgba(250,214,141,1) 100%);
color:#fff;
margin-top:-17px;
padding:10px;
}

.marquee > div {
  display: table-row;
  white-space: nowrap;
  padding-left: 100%; 
  animation: marquee 20s linear infinite; /* Time must be adjusted based on total width of scrolled elements*/
}

.marquee > div p {
  padding-top:10px;
  width: 450px; /* Width of p elements must match the width of marquee "window"*/
  padding-left: 40px; /* Padding determines space between scrolled elements */
  display: table-cell; 
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}



  @media (min-width: 320px) {
    .accordion{
      padding: 20px;
    }
    .accordion__button span{
      width: 30px;
      height: 30px;
      margin-left: 10px;

    }

    .swiper-button-prev,
.swiper-button-next {
  display: none !important;
}




   }